@model HumanCapitalManagement.Web.Models.Projects.AllProjectsViewModel

<div class="mt-5">
    @if (!Model.Projects.Any())
    {
        <div class="d-flex align-items-center flex-column">
            <span class="fw-semibold">No projects have been created yet.</span>
            <a class="btn btn-dark fw-semibold mt-3" asp-controller="Projects" asp-action="Create">New Project</a>
        </div>
    }
    else
    {
        <a class="btn btn-dark fw-semibold" asp-controller="Projects" asp-action="Create">New Project</a>
        <table class="table border-dark table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Size</th>
                    <th scope="col">Date of Creation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                    <tr>
                        <td><a class="fw-semibold text-dark" asp-controller="Employees" asp-action="All" asp-route-projectid="@project.Id">@project.Name</a></td>
                        <td>@project.Description</td>
                        <td>@project.Size</td>
                        <td>@project.CreateDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>