@model HumanCapitalManagement.Web.Models.Employees.AllEmployeesViewModel

<div>
    <a type="button" class="btn-info" asp-controller="Employees" asp-action="Add" asp-route-projectid="@Model.ProjectId">Add Employee</a>
    @if (!Model.Employees.Any())
    {
        <div>
            <span class="text-info">No employees have been added yet.</span>
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr>
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>@employee.Position.ToString()</td>
                        <td>@employee.Salary</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>