@model HumanCapitalManagement.Web.Models.Employees.AllEmployeesViewModel

<style>
    #employees-container {
        display: flex;
        justify-content: space-evenly;
    }

    #employees-table, #employee-form {
        width: 45%;
    }
</style>

<div id="employees-container">
    <div id="employees-table">
        <button id="load-add-employee-form-btn" type="button" class="btn-info">Add Employee</button>
        @if (!Model.Employees.Any())
        {
            <div>
                <span class="text-info">No employees have been added yet.</span>
            </div>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Employees)
                    {
                        <tr>
                            <td>@employee.FirstName @employee.LastName</td>
                            <td>@employee.Position.ToString()</td>
                            <td>@employee.Salary</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div id="employee-form">
    </div>
    <input type="hidden" value="@Model.ProjectId" id="project-id" />
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#load-add-employee-form-btn").click(function() {
                $.ajax({
                    method: "GET",
                    url: "Add",
                    success: function(htmlResult) {
                        $("#employee-form").html(htmlResult);
                    }
                })
            })
        })
    </script>
}