@model HumanCapitalManagement.Web.Models.Employees.AllEmployeesViewModel

<style>
    #employees-container {
        display: flex;
        justify-content: space-evenly;
    }

    #employees-table, #employee-form {
        width: 45%;
    }
</style>

<div class="mt-5">
    <h1 class="fw-semibold text-center mb-5">Project Employees</h1>
    <div id="employees-container">
        <div id="employees-table">
            @if (!Model.Employees.Any())
            {
                <div class="d-flex align-items-center flex-column">
                    <span class="text-dark fw-semibold">No employees have been added yet.</span>
                    <button type="button" class="btn btn-dark float-end fw-semibold load-add-employee-form-btn mt-3">Add Employee</button>
                </div>
            }
            else
            {
                <table class="table table-bordered border-dark table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model.Employees)
                        {
                            <tr>
                                <td>@employee.FirstName @employee.LastName</td>
                                <td>@employee.Position.ToString()</td>
                                <td>@employee.Salary</td>
                                <td>
                                    <button type="button" class="btn btn-warning load-edit-employee-form-btn me-2 fw-semibold" data-employee-id="@employee.Id">Edit</button>
                                    <button type="button" class="btn btn-danger delete-employee-btn fw-semibold" data-employee-id="@employee.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-dark float-end fw-semibold load-add-employee-form-btn float-end">Add Employee</button>
            }
        </div>
        <div id="employee-form">
        </div>
    </div>
    <input type="hidden" value="@Model.ProjectId" id="project-id" />
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $(".load-add-employee-form-btn").click(function() {
                $.ajax({
                    method: "GET",
                    url: "Add",
                    success: function(htmlResult) {
                        $("#employee-form").html(htmlResult);
                    }
                })
            });

            $(".load-edit-employee-form-btn").click(function() {
                var employeeId = $(this).attr("data-employee-id");

                $.ajax({
                    method: "GET",
                    url: `Edit?id=${employeeId}`,
                    success: function(htmlResult) {
                        $("#employee-form").html(htmlResult);
                    }
                })
            });

            $(".delete-employee-btn").click(function() {
                if(!confirm("Are you sure you want to delete user?")) {
                    return;
                }

                var employeeId = $(this).attr("data-employee-id");
                var projectId = $("#project-id").val();

                $.ajax({
                    method: "POST",
                    url: `Delete?id=${employeeId}`,
                    success: function(data) {
                        if (data.succeed == false) {
                            alert(data.errorMessage);
                            return;
                        }
                        
                        window.location.href = `/Employees/All?projectId=${projectId}`
                    }
                })
            });
        })
    </script>
}