@model HumanCapitalManagement.Web.Models.Employees.AllEmployeesViewModel

<style>
    #employees-container {
        display: flex;
        justify-content: space-evenly;
    }

    #employees-table, #employee-form {
        width: 45%;
    }
</style>

<div id="employees-container">
    <div id="employees-table">
        <button id="load-add-employee-form-btn" type="button" class="btn btn-info">Add Employee</button>
        @if (!Model.Employees.Any())
        {
            <div>
                <span class="text-info">No employees have been added yet.</span>
            </div>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Employees)
                    {
                        <tr>
                            <td>@employee.FirstName @employee.LastName</td>
                            <td>@employee.Position.ToString()</td>
                            <td>@employee.Salary</td>
                            <td>
                                <button type="button" class="btn btn-warning load-edit-employee-form-btn" data-employee-id="@employee.Id">Edit</button>
                                <button type="button" class="btn btn-danger delete-employee-btn" data-employee-id="@employee.Id">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div id="employee-form">
    </div>
    <input type="hidden" value="@Model.ProjectId" id="project-id" />
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $("#load-add-employee-form-btn").click(function() {
                $.ajax({
                    method: "GET",
                    url: "Add",
                    success: function(htmlResult) {
                        $("#employee-form").html(htmlResult);
                    }
                })
            });

            $(".load-edit-employee-form-btn").click(function() {
                var employeeId = $(this).attr("data-employee-id");

                $.ajax({
                    method: "GET",
                    url: `Edit?id=${employeeId}`,
                    success: function(htmlResult) {
                        $("#employee-form").html(htmlResult);
                    }
                })
            });

            $(".delete-employee-btn").click(function() {
                if(!confirm("Are you sure you want to delete user?")) {
                    return;
                }

                var employeeId = $(this).attr("data-employee-id");
                var projectId = $("#project-id").val();

                $.ajax({
                    method: "POST",
                    url: `Delete?id=${employeeId}`,
                    success: function(data) {
                        if (data.succeed == false) {
                            alert(data.errorMessage);
                            return;
                        }
                        
                        window.location.href = `/Employees/All?projectId=${projectId}`
                    }
                })
            });
        })
    </script>
}