@using HumanCapitalManagement.Web.ViewHelpers
@model HumanCapitalManagement.Web.Models.Employees.CreateEmployeeInputModel

<form asp-controller="Employees" asp-action="Create" method="post">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input asp-for="@Model.FirstName" type="text" class="form-control" />
        </div>
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <textarea asp-for="@Model.LastName" class="form-control"></textarea>
        </div>
        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Position</label>
        <div class="col-sm-10">
            <select asp-items="ViewDataHelper.AllEmployeePositions()" asp-for="@Model.Position" class="form-control"></select>
        </div>
        <span asp-validation-for="@Model.Position" class="text-danger"></span>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Salary</label>
        <div class="col-sm-10">
            <textarea asp-for="@Model.Salary" class="form-control"></textarea>
        </div>
        <span asp-validation-for="@Model.Salary" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>